[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = git@github.com:antweiss/cocoa-eh-hugo-theme.git
[submodule "public"]
	path = public
	url = https://github.com/antweiss/antweiss.github.io.git
